/* Global styles */
* {
   /*box-sizing: border-box;*/
    margin: 0;
    padding: 0;
}
 


  @font-face {
    font-family: 'Handlee';
    src: url('/src/fonts/Handlee-Regular.ttf');
  }
  

  body {
    font-family: 'Handlee', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    min-height: 100vh;
    color:rgb(61, 20, 85);
    background-image: linear-gradient(to bottom, #e0c8eb, #d1ade2, rgb(83, 50, 102));
    height: 100%;
    background-attachment: fixed;
  }
    
 .home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  }

  /* Home styles */
.home {
  width: 100vw;
  height: 100vh;
  height: calc(100vh - 100px);
  
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: rgb(61, 20, 85);
}
  
  
  h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  
  h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
   /* margin-right: 120px;*/
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    margin-right: 80px;
    /*margin-left: 10px;*/
    width: 80vw;
  }

  /* Event Cards */
  .event-cards {
    display: flex;
    justify-content: center;
    gap: 10px;
    /*width: 100px; */
   margin: 25px;
  }

  /* Navbar */
  nav {
    background-color: #7e5585;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  nav a:hover {
    background-color:  #603b72;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav button {
    background-color: #603b72;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  nav button:hover {
    background-color: #603b72;
  }

  .home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .cta {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
  }
  
  .cta .button {
    margin: 0 1rem;
  }
  
  .button {
    margin: 0 20px;
  }
  
  .feature {
    text-align: center;
    margin-top: 50px;
    margin-top: 80px;
    justify-content: center;
  }
  
  .feature-list {
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 50%;
  }
  
  .feature {
    margin: 20px;
    max-width: 300px;
    display: flex;
  }
  
/* Styles for screens larger than or equal to 768px */
@media (min-width: 768px) {
  /* Navbar styles */
  .navbar {
    height: 80px;
    font-size: 18px;
  }
}

  /* Styles for screens smaller than 768px */
@media (max-width: 767px) {
  /* Navbar styles */
  .navbar {
    height: 60px;
    font-size: 16px;
  }
}


