.new-event-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
  }
  
  .package-container {
    margin: 20px 0;
  }
  
  .package-container h3 {
    margin-bottom: 10px;
  }
  
  .package-container input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .package-container label {
    font-size: 18px;
  }
  
  .total-price {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .checkout-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .checkout-btn:hover {
    background-color: #0062cc;
  }