nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*background-color: #2d53bb;*/
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 1;
  }

  .home-container {
    padding-top: 60px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }

  